.sidebar {
    position: relative;
    width: 317px;
    height: 100vh;
    display: none;
    padding: 63px 70px;
}

.sidebar.open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #ffffff;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.nav {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 22px;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a:active {
    color: #3D6B99;
}

.navLink {
    color: #000000;
    margin-bottom: 45px;
    text-decoration: none;
}

.activeNavLink {
    margin-bottom: 45px;
    color: #0059B2;
    text-decoration: underline;
}
.close {
    position: absolute;
    top: 16px;
    right: 24px;
    background-color: transparent;
    border: none;
}

.close img {
}
