.input:focus {
    outline: 1px solid #949494;
}

.input {
    width: 372px;
    height: 36px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
}

.inputWrapper {
    position: relative;
}

.superInput {
}

.errorInput {
    border: 1px solid #cc1439;
}

.errorInput:focus {
    outline: 1px solid #cc1439;
}

.error {
    position: absolute;
    top: -15px;
    left: 0;
    color: #cc1439;
    font-size: 10px;
}
