.sendForm {
    width: 100%;
    display: flex;
    gap: 44px;
    font-family: Montserrat, sans-serif;
    margin-top: 56px;
}

.textarea {
    width: 100%;
    padding: 12px 24px;
    border-radius: 20px;
    border: none;
    background-color: #F5F7FB;
    overflow: hidden;
    resize: none;
    box-shadow: 0 1px 2px rgba(29, 33, 38, 0.10);

    &::placeholder {
        opacity: 0.90;
        color: rgba(0, 0, 0, 0.60);
        font-size: 14px;
        font-weight: 400;
        word-wrap: break-word
    }
}

.button {
    background: #0066CC;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
    padding: 10px 38px;
}

.button:hover {

}
.button:active {

}
