.burgerMenuIcon {
    width: 24px;
    height: 24px;
    text-align: right;
    align-self: center;
}

.header {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    padding: 0 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.header h1 {
    font-size: 24px;
    text-align: right;
    align-self: center;
}